* {
    font-family: cursive;
}

body {
    
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.767);
    background-image: url(imagens/backgrownd_image.jpg);
    background-position: center ;
    background-size: 2500px;
    height: 1000px;
    transition: 40s;

}

body:hover {
    
    background-position: bottom center;
}

main {

    width: 800px;
    height: auto;
    margin: auto;
    box-shadow:5px 5px 8px;
    background-color: rgba(255, 255, 255, 0.808);
}

h1, h2, p {

    text-align: center;
}

div.technologies {
    margin: auto;
    width: 750px;
    background-color:rgba(0, 0, 0, 0.13);
    border-radius: 10px
}

img.line {

    width: 130px;

}

img.social-media {
    width: 40px;
    transition: 0.2s;
}

img.social-media:hover {

    width: 45px;

}

img.icon {

    width: 70px;
    transition: 0.2s;
}

img.icon:hover {

    width: 80px;
}

img.projects {
    width: 500px;
}

button.contacts {
    
    position: fixed;
    bottom: 12px;
    width: 60px;
    height: 60px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px;
    background-color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
    transition: all  0.2s;

}

button.contacts:hover {

    width: 65px;
    height: 65px;

}

img.contacts {

    width: 40px;

}
