* {
    font-family: cursive;
}

body {
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.767);
    background-image: url(imagens/backgrownd_image.jpg);
    background-position: center ;
    background-size: 2500px;
    height: 1000px;
    transition: 40s;

}
body:hover {
    background-position: bottom center;
}

main {
    width: 800px;
    height: auto;
    margin: auto;
    box-shadow:5px 5px 8px rgb(145, 136, 136);
    background-color: rgba(255, 255, 255, 0.808);
}

img.botao {
    width: 30px;
}

img.foto_perfil {
    width: 150px;
}

img.tecnologias {
    width: 70px;
    transition: 0.2s;
}

img.tecnologias:hover {
    width: 90px;
}
