* {

    font-family: cursive;
    text-align: center;

}

body {
    
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.767);
    background-image: url(imagens/backgrownd-image/backgrownd_image.jpg);
    background-position: center ;
    background-size: 2500px;
    height: 1000px;
    transition: 40s;

}

body:hover {
    
    background-position: bottom center;
}

main {

    width: 800px;
    height: auto;
    margin: auto;
    box-shadow:5px 5px 8px;
    background-color: rgba(255, 255, 255, 0.808);

}

div.technologies {

    margin: auto;
    width: 750px;
    background-color:rgba(0, 0, 0, 0.13);
    border-radius: 10px
}

img.line {

    width: 130px;

}

img.social-media {

    width: 40px;
    transition: 0.2s;
}

img.social-media:hover {

    width: 45px;

}

img.icon {

    width: 70px;
    transition: 0.2s;
    cursor: pointer;
}

img.icon:hover {

    width: 80px;
}

img.projects {

    width: 500px;
}

img.contacts {

    width: 40px;

}

div.projects {

    margin: auto;
    width: 750px;
    background-color:rgba(0, 0, 0, 0.13);
    border-radius: 10px

}

button.projects {

    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    height: 30px;
    width: 720px;
    cursor: pointer;
    transition: 0.2s;

}

button.projects:hover {

    height: 25px;
    width: 710px;
}