* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: larger;
    background-color: rgba(116, 115, 172, 0.452);
    background-image: url(imagens/backgrownd_image.jpg);
    background-position: center ;
    background-size: 800px;
    m

}
main {
    width: 800px;
    margin: auto;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.541);
    background-color: white;
}

h1.pagina_git {
    float: right;
    width:450px;
}

img.botao {
    width: 30px;
}

img.foto_perfil {
    width: 150px;
}

img.direito {
    width: 100px;
    float: left;
}

img.pagina_git {
    width: 300px;
}

