* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(116, 115, 172, 0.452);
    font-size: larger;
}

main {
    width: 800px;
    margin: auto;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.541);
    background-color: white;
}

img.foto_perfil {
    width: 150px;
}

img.direito {
    width: 100px;
    float: left;
}