* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(116, 115, 172, 0.452);
}

main {
    box-sizing: 500px;
    box-shadow:3px 3px 5px;
    background-color: white;
}

article {
    font-size: larger;
}

img.direito {
    width: 100px;
    float: right;
}